<div class="container px-md-0">
  <div class="col-md-12 border border-dark rounded mx-auto mb-md-5 px-md-4">
    <div class="row my-md-3 border-bottom border-dark">
      <h2>ショップページ</h2>
    </div>

    <% if @shop.rogo_arrangement_btn == "left_alignment" %>
      <div class="col-md-5 mb-md-5">
        <%= image_tag @shop.get_shop_image(200,200) %>
      </div>
    <% elsif @shop.rogo_arrangement_btn == "center_alignment" %>
      <div class="d-flex mb-md-5 align-items-center justify-content-center">
        <%= image_tag @shop.get_shop_image(200,200) %>
      </div>
    <% else %>
      <div class="d-flex mb-md-5 align-items-center justify-content-end">
        <%= image_tag @shop.get_shop_image(200,200) %>
      </div>
    <% end %>

    <div class="col-md-7 mb-md-2">
      <div class="font-weight-bold">
        ショップ紹介:
      </div>
      <div class="p-md-2 border border-dark rounded text_break">
        <%= safe_join(@shop.free_space.split("\n"),tag(:br)) %>
      </div>
    </div>

    <div class="col-md-6 mb-md-4">
      <%= link_to "商品を見に行く", items_per_shop_path(@shop.id), class:"btn btn-primary" %>
    </div>

    <% if @shop.introduction_arrangement_btn == "side_by_side" %>
      <div class="row">
        <% @shop.get_shop_images(350,350).each do |image| %>
        <div class="d-flex col-md-4 mb-md-3 p-md-2 align-items-center justify-content-center border border-dark">
          <%= image_tag image %>
        </div>
        <% end %>
      </div>
    <% else %>
      <% @shop.get_shop_images(700,700).each do |image| %>
        <div class="d-flex col-md-8 mb-md-3 p-md-2 mx-auto align-items-center justify-content-center border border-dark">
          <%= image_tag image %>
        </div>
      <% end %>
    <% end %>

    <div class="row mb-md-2 mt-md-5 align-items-center justify-content-center border-top border-dark rounded">
      <div class="col-md-5">
        <div class="pt-md-2 font-weight-bold">
          配送キャリア:
        </div>
        <div class="p-md-2 text_break">
          <%= safe_join(@shop.shipping_carrier.split("\n"),tag(:br)) %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="pt-md-2 font-weight-bold">
          発送について:
        </div>
        <div class="p-md-2 text_breakk">
          <%= safe_join(@shop.about_shipping.split("\n"),tag(:br)) %>
        </div>
      </div>
    </div>
    <div class="row mb-md-2 align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="pt-md-2 font-weight-bold">
          個人情報の取り扱いについて:
        </div>
        <div class="p-md-2 text_break">
          <%= safe_join(@shop.personal_information.split("\n"),tag(:br)) %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="pt-md-2 font-weight-bold">
          決済について:
        </div>
        <div class="p-md-2 text_break">
          <%= safe_join(@shop.settlement.split("\n"),tag(:br)) %>
        </div>
      </div>
    </div>
    <div class="row mb-md-2 align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="pt-md-2 font-weight-bold">
          お問い合わせについて:
        </div>
        <div class="p-md-2 text_break">
          <%= safe_join(@shop.inquiry.split("\n"),tag(:br)) %>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
</div>