<div class="container px-md-0">
  <div class="col-md-10 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>ショップページ新規登録</h2>
    </div>
    <%= form_with model: @shop,url: shop_shop_page_information_path,method: :patch  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :image, "ショップロゴ画像" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :image, accept: "image/*" %><br />
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          表示位置
        </div>
        <div class="col-md-8">
          <%= f.radio_button :rogo_arrangement_btn, "left_alignment" %>
          <%= f.label :rogo_arrangement_btn, '左寄せ', value: "left_alignment", class: "mr-md-2" %>

          <%= f.radio_button :rogo_arrangement_btn, "center_alignment" %>
          <%= f.label :rogo_arrangement_btn, '中央寄せ', value: "center_alignment", class: "mr-md-2" %>

          <%= f.radio_button :rogo_arrangement_btn, "right_alignment" %>
          <%= f.label :rogo_arrangement_btn, '右寄せ', value: "right_alignment" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :images, "ショップ紹介画像(12枚まで登録可能)" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :images, accept: "image/*", multiple: true %><br />
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          表示位置
        </div>
        <div class="col-md-8">
          <%= f.radio_button :introduction_arrangement_btn, "side_by_side" %>
          <%= f.label :introduction_arrangement_btn, '横並び', value: "side_by_side", class: "mr-md-2" %>

          <%= f.radio_button :introduction_arrangement_btn, "tandem" %>
          <%= f.label :introduction_arrangement_btn, '縦並び', value: "tandem" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shipping_carrier, "配送キャリア" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :shipping_carrier, placeholder: "〇〇運輸", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :about_shipping, "発送について" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :about_shipping, placeholder: "当日12時までのご注文で当日中に出荷\n以降は翌営業日に出荷いたします。", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :personal_information, "個人情報の取り扱いについて" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :personal_information, placeholder: "取得した個人情報については以下の目的で利用します。\n〇商品の発送、代金の請求のため\n〇お客様へ弊社のキャンペーンやサービスの案内のため\n〇お客様からのご要望やお問い合わせに回答するため", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :settlement, "決済について" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :settlement, placeholder: "クレジットカード、銀行振り込みがご利用いただけます", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :inquiry, "お問い合わせについて" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :inquiry, placeholder: "電話番号：00000000000及び、\n問い合わせフォームより問い合わせが可能です。", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-5 mx-auto">
        <%= f.submit '新規登録', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
