<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>レビュー編集</h2>
    </div>
    <%= form_with model: @review,url: item_review_path(@item.id),method: :patch  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          総合評価
        </div>
        <div class="col-md-8">
          <div id="post_raty">
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#post_raty');
                if (elem == null) return;
                elem.innerHTML = ""
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: '<%= @review.number_of_stars %>',
                };
                raty(elem, opt);
              });
            </script>
          </div>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :title, "タイトル" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :review_content, "本文" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :review_content, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-5 mx-auto">
          <%= f.submit '編集内容を保存', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

