<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>商品編集</h2>
      <% if @item.errors.any? %>
        <div class="error_message">
          <h4 class="text-center">
            入力内容に誤りがあります。</br>
            入力内容を確認してください。
          </h4>
        </div>
      <% end %>
    </div>
    <%= form_with model: @item,url: shop_item_path, method: :patch  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          商品画像<br />(3枚まで登録可能)
        </div>
        <div class="col-md-8">
        <%= f.file_field :images, accept: "image/*", multiple: true %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :name, "商品名" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :item_genre_id, "ジャンル" %>
        </div>
        <div class="col-md-8">
          <%= f.select :item_genre_id, options_from_collection_for_select(ItemGenre.all, :id, :name, f.object.item_genre_id), {}, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :introduction, "商品説明" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :introduction, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :price, "税抜価格" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          販売ステータス
        </div>
        <div class="col-md-8">
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中", value: true, class: "mr-md-2" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止", value: false %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-5 mx-auto">
          <%= f.submit '編集内容を保存', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>