<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>商品新規登録</h2>
    </div>
    <%= form_with model: @item,url: shop_items_path,method: :post  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          商品画像
        </div>
        <div class="col-md-8">
          <%= f.file_field :images, accept: "image/*", multiple: true %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :name, "商品名" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :item_genre_id, "ジャンル" %>
        </div>
        <div class="col-md-8">
          <%= f.select :item_genre_id, options_from_collection_for_select(ItemGenre.all, :id, :name), { include_blank: '選択してください'}, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :introduction, "商品説明" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :price, "税抜価格" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :price, placeholder: "1000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          販売ステータス
        </div>
        <div class="col-md-8">
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中", value: true, class: "mr-md-2" %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止", value: false, class: "mr-md-2" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-5 mx-auto">
          <%= f.submit '新規登録', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
