<div class="container px-md-0">
  <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="row my-md-3 px-md-3 border-bottom border-dark">
      <h2>商品情報詳細</h2>
    </div>
    <div class="row mt-md-4 mb-md-2">
      <div class="col-md-6">
        <% @item.get_item_images(500,500).each do |image| %>
          <div class="d-flex align-items-center justify-content-center mb-md-2 py-md-3  border border-dark rounded">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 mb-md-2">
        <div class="font-weight-bold">
          商品ID
        </div>
        <div class="col-md-12 mb-md-2">
          <%= @item.id %>
        </div>
        <div class="font-weight-bold">
          商品名
        </div>
        <div class="col-md-12 mb-md-2 text_break">
          <%= @item.name %>
        </div>
        <div class="font-weight-bold">
          ジャンル
        </div>
        <div class="col-md-12 mb-md-2">
          <%= @item_genre.name %>
        </div>
        <div class="font-weight-bold">
          商品説明
        </div>
        <div class="col-md-12 mb-md-2 text_break">
          <%= safe_join(@item.introduction.split("\n"),tag(:br)) %>
        </div>
        <div class="font-weight-bold">
          税抜価格
        </div>
        <div class="col-md-12 mb-md-2">
          <%= @item.price.to_s(:delimited) %>円
        </div>
        <div class="font-weight-bold">
          税込価格
        </div>
        <div class="col-md-12 mb-md-2">
          <%= @item.with_tax_price.to_s(:delimited) %>円
        </div>
        <div class="font-weight-bold">
          販売ステータス
        </div>
        <div class="col-md-12 mb-md-2">
          <% if @item.is_active == true %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-secondary">販売停止中</div>
          <% end %>
        </div>
        <div class="col-md-8 mb-md-2">
          <%= link_to "編集する", edit_shop_item_path, class:"btn btn-success btn-block" %>
          <%= link_to "レビューを見る", shop_item_reviews_path(@item.id), class:"btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>