<div class="container px-md-0">
  <div class="col-md-7 mx-auto border border-dark rounded px-md-4">
    <div class="my-md-3">
      <h2>登録情報</h2>
    </div>
    <div class="row mb-md-2 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        氏名:
      </div>
      <div class="col-md-9">
        <%= @customer.last_name + @customer.first_name %>
      </div>
    </div>
    <div class="row mb-md-2 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        カナ:
      </div>
      <div class="col-md-9">
        <%= @customer.last_name_kana + @customer.first_name_kana %>
      </div>
    </div>
    <div class="row mb-md-2 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        郵便番号:
      </div>
      <div class="col-md-9">
        <%= @customer.postal_code %>
      </div>
    </div>
    <div class="row mb-md-2 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        住所:
      </div>
      <div class="col-md-9 text_break">
        <%= @customer.address %>
      </div>
    </div>
    <div class="row mb-md-2 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        電話番号:
      </div>
      <div class="col-md-9">
        <%= @customer.telephone_number %>
      </div>
    </div>
    <div class="row mb-md-3 border-bottom border-dark">
      <div class="col-md-3 font-weight-bold">
        メールアドレス:
      </div>
      <div class="col-md-9 text_break">
        <%= @customer.email %>
      </div>
    </div>
    <div class="row mb-md-2">
      <div class="col-md-5 font-weight-bold mx-auto">
        <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success btn-block" %>
      </div>
    </div>
  </div>

  <div class="col-md-7 mx-auto mt-md-5 px-md-4">
    <div class="mb-md-3">
      <h2>リンク</h2>
    </div>
    <div class="col-md-6 mb-md-3">
      <%= link_to "配送先一覧を見る", addresses_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6 mb-md-3">
      <%= link_to "ほしいもの一覧を見る", what_you_wants_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6 mb-md-3">
      <%= link_to "お気に入りショップ一覧を見る", favorite_shops_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6 mb-md-3">
      <%= link_to "注文履歴一覧を見る", orders_path, class:"btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6 mb-md-3">
      <%= link_to "レビュー一覧を見る", reviews_path, class:"btn btn-primary btn-block" %>
    </div>
  </div>
</div>