<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">
        <%= @shop.shop_name %>さんのショップ情報詳細
      </h3>
    </div>
  </div>

  <%= form_with model: @shop,url: admin_shop_path, method: :patch  do |f| %>
  <div class="row">
    <div class="col-md-2 mb-2">
      ショップID
    </div>
    <div class="col-md-3 mb-2">
      <%= @shop.id %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      ショップ名
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :shop_name, class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      フリガナ
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :shop_name_kana, class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      郵便番号
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :postal_code, class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      住所
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :address, size: "75", class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      電話番号
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :telephone_number, class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      メールアドレス
    </div>
    <div class="col-md-3 mb-2">
      <%= f.text_field :email, class: "rounded" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      会員ステータス
    </div>
    <div class="col-md-3 mb-2">
      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, "有効" %>
      &nbsp;
      <%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, "退会" %>
    </div>
  </div>
  <div class="col-md-3 offset-md-2">
    <%= f.submit '変更を保存', class:"btn btn-success btn-block" %>
  </div>
  <% end %>
</div>