<div class="container px-md-0">
  <div class="col-md-5 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>管理者ログイン</h2>
    </div>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="mb-md-3 font-weight-bold">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, placeholder: "sumple@example.com", class: "form-control" %>
      </div>
      <div class="mb-md-3 font-weight-bold">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="col-md-7 mb-md-3 mx-auto">
        <%= f.submit "ログイン", class:"btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
  <%= render "admin/shared/links" %>
</div>
