<div class="container px-1">
  <div class="row">
    <div class="col-md-3 mb-2 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">管理者ログイン</h3>
    </div>
  </div>

  <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="row">
    <div class="col-md-2 offset-md-2 mb-2">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-2 mb-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sumple@example.com", size: "50", class: "rounded" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 offset-md-2 mb-2">
      <%= f.label :パスワード %>
    </div>
    <div class="col-md-2 mb-2">
      <%= f.password_field :password, autocomplete: "current-password", size: "50", class: "rounded" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 offset-md-4 mb-3 ">
      <%= f.submit "ログイン", class:"btn btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
 </div>
<%= render "admin/shared/links" %>
