<div class="container">
  <div class="row">
    <div class="col-md-4 mb-2 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">注文履歴詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 mb-2">
      注文日
    </div>
    <div class="col-md-2 mb-2">
      <%= @order.created_at.strftime('%Y/%m/%d') %> <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      購入者
    </div>
    <div class="col-md-2 mb-2">
      <%= @order.customer.last_name+@order.customer.first_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      支払方法
    </div>
    <div class="col-md-2 mb-2">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      ご請求金額
    </div>
    <div class="col-md-2 mb-2">
      <% total = 0 %>
      <% @order_details.each do |order_detail| %>
        <% price = (order_detail.price*1.1).floor %>
        <% amount = order_detail.amount %>
        <% total = total + price * amount %>
      <% end %>
      <%= total.to_s(:delimited) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-2">
      配送先
    </div>
    <div class="col-md-2 mb-2">
      〒<%= @order.postal_code %> <br />
      <%= @order.address %> <br />
      <%= @order.name %> <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mb-2">
      注文内容<br />
      <% @order_details.each do |order_detail| %>
        <%= image_tag order_detail.item.get_item_image(100,100) %><br />
        発送状態
        <%= form_with model: order_detail, url: shop_order_detail_path(order_detail.id), method: :patch do |f| %>
          <div class="form-group">
            <%= f.select :shipping_status, OrderDetail.shipping_statuses.keys.map { |k| [t("enums.order_detail.shipping_status.#{k}"), k] } %>
          </div>
        </div>
        <div class="col-md-3 mb-2 offset-md-1">
         <%= f.submit '更新', class:"btn btn-success btn-block" %>
        </div>
        <% end %>
        商品名
        <%= order_detail.item.name %><br />
        単価(税込)
        <%= (order_detail.price*1.1).floor %><br />
        数量
        <%= order_detail.amount %><br />
        小計
        <%= (order_detail.price*1.1).floor * order_detail.amount %><br />
      <% end %>
    </div>
  </div>
</div>
