<div class="container px-md-0">
  <div class="col-md-10 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>注文情報確認</h2>
    </div>
    <% @cart_items.each do |cart_item| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row">
          <div class="col-md-3 d-flex align-items-center justify-content-center">
            <%= image_tag cart_item.item.get_item_image(100,100) %>
          </div>
          <div class="col-md-9">
            <div class="row my-md-2 border-bottom border-dark">
              <div class="col-md-3 font-weight-bold">
                商品名:
              </div>
              <div class="col-md-9 text_break">
                <%= cart_item.item.name %>
              </div>
            </div>
            <div class="row mb-md-2 border-bottom border-dark">
              <div class="col-md-3 font-weight-bold">
                単価(税込):
              </div>
              <div class="col-md-9">
                <%= cart_item.item.with_tax_price.to_s(:delimited) %>
              </div>
            </div>
            <div class="row mb-md-2 border-bottom border-dark">
              <div class="col-md-3 font-weight-bold">
                数量:
              </div>
              <div class="col-md-9">
                <%= cart_item.amount %>
              </div>
            </div>
            <div class="row mb-md-2 border-bottom border-dark">
              <div class="col-md-3 font-weight-bold">
                小計:
              </div>
              <div class="col-md-9">
                <%= "#{cart_item.subtotal.to_s(:delimited)}円" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="d-flex col-12 justify-content-center">
      <h4><%= paginate @cart_items %></h4>
    </div>
    <div class="col-md-5 mx-auto mb-md-3 text-center font-weight-bold border border-dark rounded">
      <%= "請求金額: #{@total_price.to_s(:delimited)}円" %>
    </div>
    <div class="font-weight-bold">
      支払い方法
    </div>
    <div class="col-md-3 mb-2">
      <%= @order.payment_method_i18n %>
    </div>
    <div class="font-weight-bold">
      お届け先
    </div>
    <div class="col-md-12">
      <div class="row mb-md-2 border-bottom border-dark">
        <div class="col-md-2">
          郵便番号:
        </div>
        <div class="col-md-8">
          <%= @order.postal_code %>
        </div>
      </div>
      <div class="row mb-md-2 border-bottom border-dark">
        <div class="col-md-2">
          住所:
        </div>
        <div class="col-md-8 text_break">
          <%= @order.address %>
        </div>
      </div>
      <div class="row mb-md-3 border-bottom border-dark">
        <div class="col-md-2">
          氏名:
        </div>
        <div class="col-md-8">
          <%= @order.name %>
        </div>
      </div>
    </div>
    <%= form_with model: @order, url: orders_path,method: :post  do |f| %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :name, :value => @order.name %>
      <%= f.hidden_field :total_payment, :value => @total %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <div class="col-md-3 mb-md-3 mx-auto">
        <%= f.submit '注文を確定する', class:"btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>