<div class="container px-md-0">
  <div class="col-md-10 border border-dark rounded mx-auto px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>注文履歴一覧</h2>
    </div>
    <% @orders.each do |order| %>
      <div class="col-md-12 border border-dark rounded mb-md-3">
        <div class="font-weight-bold">
          注文日
        </div>
        <div class="col-md-3 mb-md-2">
          <%= l order.created_at %>
        </div>
        <div class="font-weight-bold">
          ご請求金額
        </div>
        <div class="col-md-3 mb-md-2">
          <%= "#{order.total_payment.to_s(:delimited)}円" %>
        </div>
        <div class="font-weight-bold">
          発送完了状態
        </div>
        <div class="col-md-5 mb-md-2">
          <% if order.order_details.count == order.order_details.where(shipping_status: "sent").count %>
            全ての商品の発送が完了しています。
          <% else %>
            未発送の商品があります。
          <% end %>
        </div>
        <div class="font-weight-bold">
          注文商品
        </div>
        <% order.items.each do |item| %>
          <div class="row col-md-12 border border-dark rounded mx-auto mb-md-3 py-md-2">
            <div class="col-md-3 d-flex align-items-center justify-content-center">
              <%= image_tag item.get_item_image(100,100) %>
            </div>
            <div class="col-md-9">
              <div class="row mb-md-3 border-bottom border-dark">
                <div class="col-md-3">
                  商品名:
                </div>
                <div class="col-md-9 text_break">
                  <%= item.name %>
                </div>
              </div>
              <div class="col-md-5">
                <%= link_to "レビューを書く", new_item_review_path(item.id), class:"btn btn-primary btn-block" %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col-md-3 mb-md-3 mx-auto">
          <%= link_to "詳細を表示する", order_path(order.id), class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>