<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="my-md-3">
      <h2>会員一覧</h2>
        <% if @customers.blank? %>
        <div class="col-md-12 border border-dark rounded mx-auto text-center mb-md-3 py-md-3">
          登録情報はありません。
        </div>
      <% end %>
    </div>
    <% @customers.each do |customer| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row my-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            会員ID:
          </div>
          <div class="col-md-9">
            <%= customer.id %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            氏名:
          </div>
          <div class="col-md-9">
            <%= customer.last_name %>
            <%= customer.first_name %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            メールアドレス:
          </div>
          <div class="col-md-9 text_break">
            <%= customer.email %>
          </div>
        </div>
        <div class="row mb-md-3 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            ステータス:
          </div>
          <div class="col-md-9">
            <% if customer.is_deleted == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "会員情報詳細を見る", admin_customer_path(customer.id), class:"btn btn-primary btn-block" %>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "注文履歴一覧を見る", admin_orders_path(:customer_id => customer.id), class:"btn btn-primary btn-block" %>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "お気に入りショップを見る", admin_favorite_shops_path(:customer_id => customer.id), class:"btn btn-primary btn-block" %>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "ほしいものリストを見る", admin_what_you_wants_path(:customer_id => customer.id), class:"btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex col-12 justify-content-center">
      <h4><%= paginate @customers %></h4>
    </div>
  </div>
</div>