<div class="container px-sm-0">
  <div class="row">
    <h3 class="col-md-12">商品一覧</h3>
    <%= link_to "価格が高い順", items_path(price_order: "desc") %><br />
    <%= link_to "価格が安い順", items_path(price_order: "asc") %><br />
  </div>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-3">
      <div class="card" style="width: 18rem;">
      <%= image_tag item.get_item_image(200,200) %>
        <div class="card-body">
          <p class="card-text">
            <%= item.name %> <br />
            ￥<%= item.price.to_s(:delimited) %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="d-flex col-12 justify-content-center">
      <%= paginate @items %>
    </div>
  </div>
</div>