<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <% @item.get_item_images(500,500).each do |image| %>
        <div class="mb-2"><%= image_tag image %></div>
      <% end %>
    </div>
    <div class="col-md-12 mb-2">
      <h3>
        <%= @item.name %>
      </h3>
    </div>
    <div class="col-md-12 mb-5">
      <h4>
        <%= @item.introduction %>
      </h4>
    </div>
    <div class="col-md-12 mb-4 d-flex align-items-center">
      <h4>
        ￥<%= @item.with_tax_price.to_s(:delimited) %><span style="font-size:70%">(税込)</span>
      </h4>
    </div>
    <div class="col-md-12 mb-2">
      <%= form_with model: @cart_item, url: cart_items_path,method: :post  do |f| %>
      <div class="row">
        <div class="col-md-5">
          個数選択<%= f.select :amount, *[1..10], { include_blank: '選択してください'}, {class: "form-control w-55"} %>
        </div>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <div class="col-md-5">
          <%= f.submit 'カートに入れる', class:"btn btn-success btn-block" %>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to customer_shop_path(@item.shop.id) do %>
      <%= @item.shop.shop_name %>
    <% end %>
    <%= link_to "レビューを見る", item_item_reviews_path(@item.id), class:"btn btn-primary btn-block" %>
    <%= link_to "問い合わせする", new_customer_inquiry_path, class:"btn btn-primary btn-block" %>
  </div>
</div>