<div class="container px-md-0">
  <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>問い合わせ中一覧</h2>
      <div class="col-md-3 ml-md-5">
        <%= link_to '過去のお問い合わせへ',  admin_shop_inquiries_path, class:"btn btn-success btn-block" %>
      </div>
    </div>
    <% @shop_inquiries.each do |shop_inquiry| %>
      <% if shop_inquiry.inquiry_status == "unsolved" %>
        <div class="col-md-12 border border-dark rounded mb-md-3">
          <div class="font-weight-bold mt-md-2">
            問い合わせ日時
          </div>
          <div class="col-md-12 mb-md-2">
            <%= l shop_inquiry.created_at %>
          </div>
          <div class="font-weight-bold">
            問い合わせショップ名
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= shop_inquiry.shop.shop_name %>
          </div>
          <div class="font-weight-bold">
            問い合わせ進捗状態
          </div>
          <div class="col-md-12 mb-md-2">
            <%= shop_inquiry.inquiry_status_i18n %>
          </div>
          <div class="font-weight-bold">
            タイトル
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= shop_inquiry.title %>
          </div>
          <div class="font-weight-bold">
            お問い合わせ内容
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= safe_join(shop_inquiry.inquiry.split("\n"),tag(:br)) %>
          </div>
          <div class="font-weight-bold">
            回答(左側:ショップの返答,右側:管理者からの回答)
          </div>
          <div class="row">
            <div class="col-md-7 border border-dark m-md-2">
              <% shop_inquiry.shop_inquiry_threads.each do |shop_inquiry_thread| %>
                <% if shop_inquiry_thread.speaker_type == "shop" %>
                  <div class="col-md-6 border border-primary rounded  ml-md-1 my-md-2 text_break">
                    <%= safe_join(shop_inquiry_thread.message.split("\n"),tag(:br)) %>
                  </div>
                <% else shop_inquiry_thread.speaker_type == "admin" %>
                  <div class="col-md-6 border border-success rounded offset-md-6 my-md-2 text_break">
                    <%= safe_join(shop_inquiry_thread.message.split("\n"),tag(:br)) %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-4 m-md-2">
              <%= form_with model: @shop_inquiry_thread,url: admin_shop_inquiry_threads_path,method: :post  do |f| %>
                <div class="col-md-12 font-weight-bold">
                  <%= f.label :message, "返答" %>
                </div>
                <div class="col-md-12 mb-md-2">
                  <%= f.text_area :message, placeholder: "ショップからの返答に対する回答を入力してください", class: "form-control" %>
                  <%= f.hidden_field :shop_inquiry_id, :value => shop_inquiry.id %>
                </div>
                <div class="col-md-7 mb-md-3 mx-auto">
                  <%= f.submit '返答する', class:"btn btn-success btn-block" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
