<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>お問い合わせ</h2>
    </div>
    <%= form_with model: @shop_inquiry,url: shop_shop_inquiries_path,method: :post  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :title, "タイトル" %>
        </div>
        <div class="col-md-8 mb-2">
          <%= f.text_field :title, autofocus: true, placeholder: "タイトルを入力してください", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :inquiry, "お問い合わせ内容" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :inquiry, placeholder: "お問い合わせ内容を入力してください。", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-5 mx-auto">
          <%= f.submit '問い合わせする', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
