<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>お気に入りショップ一覧</h2>
    </div>
    <div class="row my-md-3">
      <h2 class="text-danger mx-auto">
        <%= flash[:notice] %>
      <h2>
    </div>
    <% if @favorite_shops.blank? %>
      <div class="col-md-12 border border-dark rounded mx-auto text-center mb-md-3 py-md-3">
        登録情報はありません。
      </div>
    <% end %>
    <% @favorite_shops.each do |favorite_shop| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row my-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            登録日時:
          </div>
          <div class="col-md-9">
            <%= l favorite_shop.created_at %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            ショップ名:
          </div>
          <div class="col-md-9 text_break">
            <%= favorite_shop.shop.shop_name %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark d-flex align-items-center">
          <div class="col-md-7 font-weight-bold">
            ショップからのDMを受け取りますか？
          </div>
          <div class="col-md-5 mb-md-2">
            <% if favorite_shop.is_deleted == false %>
              <div class="col-md-12">
                <%= link_to "DMを受け取る", favorite_shop_receive_path(favorite_shop.id), method: :patch, class:"btn btn-success" %>
              </div>
            <% else %>
              <div class="col-md-12 mt-md-2">
                <%= link_to "解除する", favorite_shop_unlock_path(favorite_shop.id), method: :patch, "data-confirm" => "本当に解除しますか？", class:"btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "商品を見に行く", items_per_shop_path(favorite_shop.shop.id), class:"btn btn-primary" %>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "お気に入りから削除する", favorite_shop_path(favorite_shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
        </div>
      </div>
    <% end %>
    <div class="d-flex col-12 justify-content-center">
      <h4><%= paginate @favorite_shops %></h4>
    </div>
  </div>
</div>
