<div class="container">
  <div class="row">
    <div class="col-md-4 mb-2 d-flex align-items-center justify-content-center">
      <h3 class="px-2" style="background-color: #c1c7cd !important;">お気に入りショップ一覧</h3>
    </div>
  </div>
  <div class="row">
    <% @favorite_shops.each do |favorite_shop| %>
    <div class="col-md-12 mb-2">
      <h3>
        <%= "#{l favorite_shop.created_at}に追加されました" %>
      </h3>
    </div>
    <div class="col-md-12 mb-5">
      <h4>
        <%= favorite_shop.shop.shop_name %>
      </h4>
    </div>
    <div class="col-md-12 mb-5">
      <h4>
        <%= link_to(items_per_shop_path(favorite_shop.shop.id)) do %>
          <%= "#{favorite_shop.shop.shop_name}の商品を見に行く" %>
        <% end %>
      </h4>
    </div>
    ショップからのDMを受け取りますか？<br />
    <%= link_to "DMを受け取る", favorite_shop_receive_path(favorite_shop.id), method: :patch, class:"btn btn-danger" %>
    <% if favorite_shop.is_deleted == true %>
      <%= link_to "解除する", favorite_shop_unlock_path(favorite_shop.id), method: :patch, class:"btn btn-danger" %>
    <% end %>
    <%= link_to "削除する", favorite_shop_path(favorite_shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
    <% end %>
  </div>
</div>
