<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="mt-md-3 mb-md-4">
      <h2 class="border-bottom border-dark">新規ショップ登録</h2>
    </div>
    <%= form_with model: @shop, url: shop_registration_path do |f| %>
      <%= render "shop/shared/error_messages", resource: resource %>
      <div class="row mb-md-2">
        <div class="col-md-11 text-center border border-dark rounded mx-auto mb-md-3">
          ショップ情報登録
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_name, "ショップ名" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :shop_name, autofocus: true, placeholder: "令和電気", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_name_kana, "フリガナ" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :shop_name_kana, placeholder: "レイワデンキ", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_genre_id, "ジャンル名" %>
        </div>
        <div class="col-md-8">
          <%= f.select :shop_genre_id, options_from_collection_for_select(ShopGenre.all, :id, :name), { include_blank: '選択してください'}, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, placeholder: "sumple@example.com", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :address, "住所" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "75", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :telephone_number, placeholder: "00000000000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-11 text-center border border-dark rounded mx-auto my-md-3">
          ショップページ情報登録
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          ショップロゴ画像
        </div>
        <div class="col-md-8">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          表示位置
        </div>
        <div class="col-md-8">
          <%= f.radio_button :rogo_arrangement_btn, "left_alignment", checked: true %>
          <%= f.label :rogo_arrangement_btn, '左寄せ', value: "left_alignment", class: "mr-md-2" %>

          <%= f.radio_button :rogo_arrangement_btn, "center_alignment" %>
          <%= f.label :rogo_arrangement_btn, '中央寄せ', value: "center_alignment", class: "mr-md-2" %>

          <%= f.radio_button :rogo_arrangement_btn, "right_alignment" %>
          <%= f.label :rogo_arrangement_btn, '右寄せ', value: "right_alignment" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          ショップ紹介画像<br />(3枚まで登録可能)
        </div>
        <div class="col-md-8">
          <%= f.file_field :images, accept: "image/*", multiple: true %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          表示位置
        </div>
        <div class="col-md-8">
          <%= f.radio_button :introduction_arrangement_btn, "side_by_side", checked: true %>
          <%= f.label :introduction_arrangement_btn, '横並び', value: "side_by_side", class: "mr-md-2" %>

          <%= f.radio_button :introduction_arrangement_btn, "tandem" %>
          <%= f.label :introduction_arrangement_btn, '縦並び', value: "tandem" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :free_space, "ショップ紹介" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :free_space, placeholder: "ショップの紹介文章を記載してください。", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shipping_carrier, "配送キャリア" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :shipping_carrier, placeholder: "〇〇運輸", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :about_shipping, "発送について" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :about_shipping, placeholder: "当日12時までのご注文で当日中に出荷\n以降は翌営業日に出荷いたします。", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :personal_information, "個人情報の取り扱いについて" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :personal_information, placeholder: "取得した個人情報については以下の目的で利用します。\n〇商品の発送、代金の請求のため\n〇お客様へ弊社のキャンペーンやサービスの案内のため\n〇お客様からのご要望やお問い合わせに回答するため", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :settlement, "決済について" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :settlement, placeholder: "クレジットカード、銀行振り込みがご利用いただけます", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :inquiry, "お問い合わせについて" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :inquiry, placeholder: "電話番号：00000000000及び、\n問い合わせフォームより問い合わせが可能です。", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 mb-md-3 mx-auto">
        <%= f.submit "ショップページの登録へ", class:"btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-7 mx-auto mt-md-5 px-md-4">
    <div class="mb-md-3">
      <h4>既に登録済みの方</h4>
    </div>
    <div class="col-md-7">
      <%= render "shop/shared/links" %>
    </div>
  </div>
</div>
