<div class="container px-md-0">
  <div class="row">
    <div class="col-md-12 offset-md-3 mt-3 mb-3">
      <h2>新規会員登録</h2>
    </div>
  </div>
  <%= form_with model: @shop, url: shop_registration_path do |f| %>
  <%= render "shop/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :shop_name, "ショップ名" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.text_field :shop_name, placeholder: "令和電気", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :shop_name_kana, "フリガナ" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.text_field :shop_name_kana, placeholder: "レイワデンキ", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :shop_genre_id, "ジャンル名" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.select :shop_genre_id, options_from_collection_for_select(ShopGenre.all, :id, :name), { include_blank: '選択してください'}, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.email_field :email, placeholder: "sumple@example.com", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :address, "住所" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "75", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.text_field :telephone_number, placeholder: "00000000000", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3 mb-2 font-weight-bold">
      <%= f.label :password_confirmation, "パスワード(確認用)" %>
    </div>
    <div class="col-md-3 mb-2 font-weight-bold">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-6 mb-3 ">
      <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 offset-md-3 mt-5 mb-1">
      <h4>既に登録済みの方</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <%= render "shop/shared/links" %>
    </div>
  </div>
</div>
