<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>新規ショップ登録</h2>
    </div>
    <%= form_with model: @shop, url: shop_registration_path do |f| %>
      <%= render "shop/shared/error_messages", resource: resource %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_name, "ショップ名" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :shop_name, autofocus: true, placeholder: "令和電気", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_name_kana, "フリガナ" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :shop_name_kana, placeholder: "レイワデンキ", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :shop_genre_id, "ジャンル名" %>
        </div>
        <div class="col-md-8">
          <%= f.select :shop_genre_id, options_from_collection_for_select(ShopGenre.all, :id, :name), { include_blank: '選択してください'}, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, placeholder: "sumple@example.com", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :address, "住所" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "75", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :telephone_number, placeholder: "00000000000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-6 mx-auto">
          <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
          <p>※ショップページの登録に進みます。</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-7 mx-auto mt-md-5 px-md-4">
    <div class="mb-md-3">
      <h4>既に登録済みの方</h4>
    </div>
    <div class="col-md-7">
      <%= render "shop/shared/links" %>
    </div>
  </div>
</div>
