<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="row my-md-3 px-md-3">
      <h3>配送先一覧</h3>
      <div class="col-md-3 ml-md-5">
        <%= link_to "新規登録", new_address_path, class:"btn btn-success" %>
      </div>
    </div>
    <% @addresses.each do |address| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row my-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            宛名:
          </div>
          <div class="col-md-9">
            <%= address.name %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            郵便番号:
          </div>
          <div class="col-md-9">
            <%= address.postal_code %>
          </div>
        </div>
        <div class="row mb-md-3 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            住所:
          </div>
          <div class="col-md-9">
            <%= address.address %>
          </div>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "編集する", edit_address_path(address.id), class:"btn btn-success btn-block" %>
        </div>
        <div class="col-md-6 mb-md-3 mx-auto">
          <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
