<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>配送先登録</h2>
      <% if @address.errors.any? %>
        <div class="error_message">
          <h4 class="text-center">
            入力内容に誤りがあります。</br>
            以下の内容を確認してください。
          </h4>
          <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= form_with model: @address,url: addresses_path,method: :post  do |f| %>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :name, "宛先" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, autofocus: true, placeholder: "令和道子", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-2">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control" %>
        </div>
      </div>
      <div class="row mb-md-3">
        <div class="col-md-4 font-weight-bold">
          <%= f.label :address, "住所" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-5 mb-md-3 mx-auto">
        <%= f.submit '新規登録', class:"btn btn-success btn-block" %>
      </div>
    <% end %>
  </div>
</div>