<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="my-md-3">
      <h2>DM登録会員一覧</h2>
    </div>
    <% if @favorite_shops.blank? %>
      <div class="col-md-12 border border-dark rounded mx-auto text-center mb-md-3 py-md-3">
        登録情報はありません。
      </div>
    <% end %>
    <% @favorite_shops.each do |favorite_shop| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row my-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            氏名:
          </div>
          <div class="col-md-2 mb-2">
            <%= favorite_shop.customer.last_name %>
            <%= favorite_shop.customer.first_name %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            フリガナ
          </div>
          <div class="col-md-9">
            <%= favorite_shop.customer.last_name_kana %>
            <%= favorite_shop.customer.first_name_kana %>
          </div>
        </div>
        <div class="row mb-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            メールアドレス
          </div>
          <div class="col-md-9 text_break">
            <%= favorite_shop.customer.email %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
