<nav class="navbar border-bottom pb-md-3 mb-md-5">
  <div class="col-md-3 text-center">
    <% if admin_signed_in? %>
      <%= link_to admin_path do %>
        <%= image_tag 'logo', size: "250x80" %>
      <% end %>
    <% else %>
      <%= image_tag 'logo', size: "250x80" %>
    <% end %>
  </div>
  <div class="col-md-9">
    <% if admin_signed_in? %>
      <div class="col-md-12">
        <div class="row justify-content-end text-right">
          <div class="mr-md-3">
            <%= link_to "お問い合わせ", admin_path, class: "text-dark" %>
          </div>
          <div class="mr-md-3">
            <%= link_to "会員一覧", admin_customers_path, class: "text-dark" %>
          </div>
          <div class="mr-md-3">
            <%= link_to "ショップ一覧", admin_shops_path, class: "text-dark" %>
          </div>
          <div class="mr-md-3">
            <%= link_to "商品一覧", admin_items_path, class: "text-dark" %>
          </div>
          <div class="mr-md-3">
            <%= link_to "ジャンル一覧", admin_genre_selection_path, class: "text-dark" %>
          </div>
          <div class="mr-md-3">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</nav>