<!DOCTYPE html>
<html>
  <head>
    <title>Nandemoya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.path.match(/\/admin(\/)?/) %>
        <%= render 'layouts/header_admin' %>
      <% elsif request.path.match(/\/shop(\/)?/) %>
        <%= render 'layouts/header_shop' %>
      <% else %>
        <%= render 'layouts/header_customer' %>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="border-top pt-3 pb-3">
      <div class="container">
        <div class="col-md-4">
          <h6>なんでもや</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
