<!DOCTYPE html>
<html>
  <head>
    <title>Nandemoya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.path.match(/\/admin(\/)?/) %>
        <%= render 'layouts/header_admin' %>
      <% elsif request.path.match(/\/shop(\/)?/) %>
        <%= render 'layouts/header_shop' %>
      <% else %>
        <%= render 'layouts/header_customer' %>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class="d-flex align-items-center justify-content-center col-md-5 my-md-3 mx-auto border border-danger rounded">
        <h2 class="text-danger">
          <%= flash[:notice] %>
        <h2>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer class="border-top bg-secondary text-white py-md-2">
      <div class="container">
        <div class="col-md-12 text-center">
          <h5>なんでもや</h5>
        </div>
      </div>
    </footer>
  </body>
</html>
