<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto mb-md-3 px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>過去の問い合わせ一覧</h2>
    </div>
    <% if @customer_inquiries.blank? %>
      <div class="col-md-12 border border-dark rounded mx-auto text-center mb-md-3 py-md-3">
        登録情報はありません。
      </div>
    <% end %>
    <% @customer_inquiries.each do |customer_inquiry| %>
      <% if customer_inquiry.inquiry_status == "resolution" %>
        <div class="col-md-12 border border-dark rounded mb-md-3">
          <div class="font-weight-bold mt-md-2">
            問い合わせ日時
          </div>
          <div class="col-md-12 mb-md-2">
            <%= l customer_inquiry.created_at %>
          </div>
          <div class="font-weight-bold">
            問い合わせ進捗状態
          </div>
          <div class="col-md-12 mb-md-2">
            <%= customer_inquiry.inquiry_status_i18n %>
          </div>
          <div class="font-weight-bold">
            問い合わせショップ名
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= customer_inquiry.shop.shop_name %>
          </div>
          <div class="font-weight-bold">
            問い合わせ商品
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= customer_inquiry.item.name %>
          </div>
          <div class="font-weight-bold">
            タイトル
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= customer_inquiry.title %>
          </div>
          <div class="font-weight-bold">
            お問い合わせ内容
          </div>
          <div class="col-md-12 mb-md-2 text_break">
            <%= safe_join(customer_inquiry.inquiry.split("\n"),tag(:br)) %>
          </div>
          <div class="font-weight-bold">
            回答(左側:会員の返答,右側:ショップからの回答)
          </div>
          <div class="row mx-auto mb-md-3">
            <div class="col-md-12 border border-dark mr-md-2">
              <% customer_inquiry.customer_inquiry_threads.each do |customer_inquiry_thread| %>
                <% if customer_inquiry_thread.speaker_type == "customer" %>
                  <div class="col-md-6 border border-primary rounded  my-md-2 text_break">
                    <%= safe_join(customer_inquiry_thread.message.split("\n"),tag(:br)) %>
                  </div>
                <% else customer_inquiry_thread.speaker_type == "shop" %>
                  <div class="col-md-6 border border-success rounded offset-md-6 my-md-2 text_break">
                    <%= safe_join(customer_inquiry_thread.message.split("\n"),tag(:br)) %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>