<div class="container px-md-0">
  <div class="col-md-7 border border-dark rounded mx-auto px-md-4">
    <div class="row my-md-3 px-md-3">
      <h2>商品ジャンル一覧・登録</h2>
    </div>
    <%= form_with model: @item_genre,url: admin_item_genres_path,method: :post do |f| %>
      <div class="row mb-md-3 border-bottom border-dark">
        <div class="col-md-3 font-weight-bold">
          <%= f.label :name, "ジャンル名" %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, placeholder: "ケーキ", class: "form-control" %>
        </div>
        <div class="col-md-3 mb-md-3 mx-auto">
          <%= f.submit '新規登録', class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
    <% @item_genres.each do |item_genre| %>
      <div class="col-md-12 border border-dark rounded mx-auto mb-md-3 px-md-4">
        <div class="row my-md-2 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            ジャンルID:
          </div>
          <div class="col-md-9">
            <%= item_genre.id %>
          </div>
        </div>
        <div class="row mb-md-3 border-bottom border-dark">
          <div class="col-md-3 font-weight-bold">
            ジャンル名:
          </div>
          <div class="col-md-9">
            <%= item_genre.name %>
          </div>
        </div>
        <div class="col-md-5 mb-md-3 mx-auto">
          <%= link_to '編集する',  edit_admin_item_genre_path(item_genre.id), class:"btn btn-success btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
